.checkbox {
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.4em 0;

    .input {
        display: none;
    }

    .box {
        background-color: var(--tertiary);
        color: var(--tertiary-text);
        padding: 0.3em;
        justify-content: center;
        align-items: center;

        .dot {
            padding: 0.5em;

            &.checked {
                background-color: var(--primary);
                color: var(--primary-text);
            }
        }
    }

    &:hover {
        & .dot {
            background-color: color-mix(in srgb, var(--tertiary), black 20%);
        }

        & .dot.checked {
            background-color: color-mix(in srgb, var(--primary), white 20%);
        }
    }
}
