.input {
    gap: 0.4em;

    .label {
        margin-left: 0.2em;
    }

    .hint {
        // have not used a hint yet. Remember to style it if I actually do
        background-color: magenta;
    }
}
