.value {
    padding: 0.4em;
    background-color: var(--tertiary);
    color: var(--tertiary-text);

    &:disabled {
        background-color: var(--disabled);
        color: var(--disabled-text);
    }
}
