.container {
    padding: 5em;
    gap: 3em;

    .featured {
        background-color: var(--secondary);
        color: var(--secondary-text);
        padding: 2em;
        gap: 1em;

        h2 {
            margin-left: 1em;
        }

        .featuredcontainer {
            gap: 1em;
            flex-direction: row;
        }
    }
}

.imagecontainer {
    padding: 1em;
    flex: 2;
    border-radius: 1em;
    background-color: white;

    .image {
        flex: 1;
        border-radius: 1em;
        background-color: white;
        max-height: 10em;
    }
}
