@mixin buttongen($color, $color-text) {
    background-color: var($color);
    color: var($color-text);
    border-color: color-mix(in srgb, var($color), black 20%);

    &:hover {
        border-color: color-mix(in srgb, var($color), white 20%);
    }

    &:active {
        background-color: color-mix(in srgb, var($color), black 20%); //var($color-darker);
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto white;
    }
}

.button {
    padding: 1rem;
    font-size: 1.2em;
    border-width: 0.2rem;
    justify-content: center;
    align-items: center;

    &.primary {
        @include buttongen(--primary, --primary-text)
    }

    &.secondary {
        @include buttongen(--secondary, --secondary-text)
    }

    &.tertiary {
        @include buttongen(--tertiary, --tertiary-text)
    }
}