@mixin buttongen($color, $color-text) {
    background-color: var($color);
    color: var($color-text);
    border-color: color-mix(in srgb, var($color), black 20%);

    &:hover {
        border-color: color-mix(in srgb, var($color), white 20%);
    }

    &:active {
        background-color: color-mix(in srgb, var($color), black 20%); //var($color-darker);
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto white;
        z-index: 1;
    }
}

.button {
    padding: 0.7em;
    font-size: 1.2em;
    border-width: 0.2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.primary {
        @include buttongen(--primary, --primary-text);
    }

    &.secondary {
        @include buttongen(--secondary, --secondary-text);
    }

    &.tertiary {
        @include buttongen(--tertiary, --tertiary-text);
    }

    &.positive {
        @include buttongen(--positive, --positive-text);
    }

    &.negative {
        @include buttongen(--negative, --negative-text);
    }

    &:disabled {
        @include buttongen(--disabled, --disabled-text);
        cursor: unset;

        &:hover {
            border-color: color-mix(in srgb, var(--disabled), black 20%);
            text-decoration: none;
        }

        &:active {
            background-color: var(--disabled);
            text-decoration: none;
        }
    }
}
