.dashboard {
    flex: 1;
    gap: 0.4em;
    width: 100%;
    align-self: center;

    .divider {
        flex: 1;
        flex-direction: row;

        .buttons {
            flex: 1;
            margin: 1em;
            padding: 1em;

            .logout {}
        }

        .producttable {
            flex: 3;
            margin: 1em;
            padding: 1em;
            gap: 1em;


            .header {
                flex-direction: row;
                align-items: center;
                border: 0.5em solid color-mix(in srgb, var(--primary), black 20%);
                padding: 1em;
                border-radius: 2em;

                .title {
                    flex: 4;
                    font-size: 1.8em;
                }
            }

            .table {
                border: 0.5em solid color-mix(in srgb, var(--primary), black 20%);
                padding: 1em;
                border-radius: 2em;
            }
        }
    }

    .spacer {
        flex: 1
    }
}