.header {
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 1em;
    flex-direction: row;
    justify-content: space-between;

    .start {
        flex-direction: row;
        font-size: 3em;
        gap: 0.6rem;
        align-items: center;
        cursor: pointer;

        .logo {
            width: unset;
            height: 1.5em;
            aspect-ratio: 1;
        }

        .title {
            font-weight: 700;
        }
    }

    .end {
        flex-direction: row;
        align-items: center;
        gap: 0.6em;

        .login {
            font-size: 2em;
        }

        .usergroup {
            display: block;
            height: 100%;

            .user {
                height: 100%;
                align-items: center;
                font-size: 4em;

                &>* {
                    height: 100%;
                }
            }

            .userdropdown {
                display: none;
                position: absolute;
                right: 0;
                padding-top: 1em;
            }

            .userdropdown:hover,
            .user:hover+.userdropdown {
                display: flex;
            }

        }
    }
}
