// So, turns out it is not possible to change a scss variable during runtime, which honestly sucks.
// So instead we regress back to css variables which do allow for changes at runtime
// I find that using css variables is the best solution for dark mode, so thats what we do.
:root {
    --background: #d9d9d9;
    --background-text: black;
    --primary: #3385FF;
    --primary-text: white;
    --secondary: #3CA7FF;
    --secondary-text: white;
    --tertiary: white;
    --tertiary-text: black;

    --negative: rgb(255, 57, 57);
    --negative-text: black;

    --disabled: #6d6d6d;
    --disabled-text: #9e9e9e;

    --link: var(--primary-text);
    --link-visited: var(--primary-text);
    --link-hover: #ad00c4;
    --link-active: var(--primary-text);

    @media (prefers-color-scheme: dark) {
        --background: #242424;
        --background-text: white;
        --primary: #490074;
        --primary-text: white;
        --secondary: #9b36b9;
        --secondary-text: white;
        --tertiary: rgb(224, 224, 224);
        --tertiary-text: black;

        --negative: rgb(151, 0, 0);
        --negative-text: white;

        --disabled: #313131;
        --disabled-text: rgb(85, 85, 85);

        --link: var(--primary-text);
        --link-visited: #757575;
        --link-hover: #757575;
        --link-active: var(--primary-text);
    }
}
