.footer {
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 2em;
    margin-top: auto;
    align-items: center;

    gap: 1em;

    .links {
        flex-direction: row;
        gap: 3em
    }

    .copywrite {
        font-size: 0.8em;
    }

}
